<<<<<<< HEAD
<h2 class="first-title">新規ユーザー登録画面</h2>
=======
<h2 class="first_step">新規登録</h2>
>>>>>>> a41f3278b0dd39d8c88b07640e4265c58765ff2a

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <p><%= f.label :mailaddress, "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
  </div>

  <div class="field">
    <p><%= f.label :username, "ユーザーネーム" %>
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %></p>
  </div>

  <div class="field">
    <p><%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(半角英数字 <%= @minimum_password_length %> 文字以上)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %></p>
  </div>

  <div class="field">
    <p><%= f.label :再確認のためパスワードを入力してください %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %></p>
  </div>

  <div class="actions">
    <%= f.submit "登録する" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
