<h2 class="first-title">タスクの新規登録</h2>
<div class="new_page">
  <%= form_with model: @task, local: true do |f| %>
    <div>
      <%= f.label :title, "【タイトル】" %>
      <%= f.text_field :title, rows: 3 %>
    </div>
    <div>
      <%= f.label :description, "【詳細】" %>
      <%= f.text_area :description, rows: 3 %>
    </div>
      <%= f.submit '送信' %>    
  <% end %>
</div>
<p><%= link_to '一覧に戻る', tasks_url %></p>