<<<<<<< HEAD
<header>
=======
<header>  
>>>>>>> a41f3278b0dd39d8c88b07640e4265c58765ff2a
  <nav>
    <div class="icon">TODOリスト</div>
    <ul>
      <% if user_signed_in? %>
<<<<<<< HEAD
        <li><%= link_to 'アカウント編集', edit_user_registration_path, class: 'nav-link' %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
      <% else %>
        <li><%= link_to '新規登録', new_user_registration_path, class: 'nav-link' %></li>
        <li><%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %></li>
      <% end %>
    <%# ログイン時 %>
      <% if user_signed_in? %>
        <li>ログイン者 : <%= current_user.username %></li>
      <% end %>
    </ul>
  </nav>
</header>
=======
        <li class="nav-item active">
          <%= link_to 'アカウント編集', edit_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item active">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to '新規登録', new_user_registration_path %>
        </li>
        <li class="nav-item active">
          <%= link_to 'ログイン', new_user_session_path %>
        </li>
      <% end %>
    <%# ログイン時 %>
      <% if user_signed_in? %>
        <li>ログイン者名 : <%= current_user.username %></li>
      <% end %>
    </ul>
  </nav>
</header>
>>>>>>> a41f3278b0dd39d8c88b07640e4265c58765ff2a
